@using Sitecore.Feature.News.Models
@using Glass.Mapper.Sc.Web.Mvc


@model IEnumerable<INewsArticle>
<ul class="media-list media-list-divided">
    @foreach (var item in Model)
    {
        using (@Html.Glass().BeginEditFrame(item, "News Article", x => x.NewsImage, x => x.NewsDate, x => x.NewsTitle, x => x.NewsSummary))
        {
        <li class="media">
            <div class="media-left">
                <a href="@item.Url">
                    @Html.Glass().Editable(item, x => x.NewsImage, new { Width = 150 })
                </a>
            </div>
            <div class="media-body">
                <div class="label label-info">
                    @Html.Glass().Editable(item, x => x.NewsDate, x => x.NewsDate.ToString("MMMM dd,yyyy"))
                </div>
                <h3 class="media-title">
                    <a href="@item.Url">
                        @Html.Glass().Editable(item, x => x.NewsTitle)
                    </a>
                </h3>
                <p>
                    @Html.Glass().Editable(item, x => x.NewsSummary)
                </p>
            </div>
        </li>
        }
    }
</ul>