@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Repositories
@using Sitecore.Foundation.Theming.Extensions
@using Sitecore.Feature.News.Models
@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Data
@using Sitecore.Feature.News
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Mvc.Presentation

    @model INewsArticle


@if (Model == null)
{
    @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(Templates.NewsArticle.ID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, ID.Null, ID.Null)
    return;
}
else
{
    <div class="thumbnail @RenderingContext.Current.Rendering.GetBackgroundClass() m-b-1">
        <header class="thumbnail-header">
            <span class="label">
        @Html.Glass().Editable(x => x.NewsDate, x => x.NewsDate.ToString("MMMM dd,yyyy"))
    </span>
            <h3>
                @Html.Glass().Editable(x => x.NewsTitle)
            </h3>
        </header>
        <div>
            <a href="@Model.Url">
                @Html.Glass().Editable(x => x.NewsImage, new {Width = 750, cssClass = "img-responsive"})
            </a>
        </div>
        <div class="caption">
            <p>
                @Html.Glass().Editable(x => x.NewsSummary)
            </p>
            <a href="@Html.Sitecore().CurrentRendering.Item.Url()" class="btn btn-default">
                @Html.Sitecore().Dictionary("/news/news teaser/read more", "Read more")
            </a>
        </div>
    </div>
}